@import "bootstrap-sprockets";
@import "bootstrap";

//Header and NavBar

.header--container {
  background-color: rgb(214, 240, 214);
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  border-bottom: solid black 3px;
}

.navbar-text {
  font-size: 12pt;
}

.box {
  width: 30%;
  // margin: 10% 10% 5% 10%;
  padding: 20px;
  border-radius: 20px;
  border: solid black 3px;
  background-color: rgb(180, 206, 180);
}

// Main Content

.content--container {
  padding: 20px;
}

.button {
  padding: 5px;
  margin: 5px;
  width: 150px;
}
