<h1>Welcome to Mario's</h1>
<h3>Explore the cuisines of the world with our near limitless culinary products</h3> 



<p><%= link_to "View products", products_path %></p>
<p><%= link_to "Create new product", new_product_path %></p>