<h1>Welcome to Mario's</h1>
<h4>Explore the cuisines of the world with our near limitless culinary products</h4> 

<% if @products.three_most_recent %>
  <h4>Check out some of our most recent products</h4>

  <% @products.each do |product| %>
    <ul>
      <li>
        <%= link_to product.name, product_path(product) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No reviews are listed for this product.</p>
<% end %>


<p><%= link_to "View products", products_path %></p>
<p><%= link_to "Create new product", new_product_path %></p>