<div class="content--container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Products</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="box col-md-5">
      <% if @products.any? %>
        <ul>
          <% @products.each do |product| %>
            <li><%= link_to product.name, product_path(product) %></li>
          <% end %>
        </ul>
      <% else %>
        <p>There are no products yet.</p>
      <% end %>
    </div>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-5">
    </div>
      <%= button_to "Create new product", new_product_path, :class => "button", :method => :get %>
      <%= button_to "Return to Home", root_path, :class => "button", :method => :get %>
    </div>
  <div class="row">
    <div class="col-12 text-center">
      <p><%= paginate @products %></p>
    </div>
  </div>
</div>