  <h1 class="text-md-center">Products</h1>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
      <% if @products.any? %>
        <ul>
          <% @products.each do |product| %>
            <li><%= link_to product.name, product_path(product) %></li> 
          <% end %>
        </ul>
      <% else %>
        <p>There are no products yet.</p>
      <% end %>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
  <div class="col-md-1">
    </div>
  <div class="col-5">
  </div>
    <button class="btn-secondary"><%= link_to "Create new product", new_product_path %></button>  
  </div>  
  <div class="row">
  <div class="col-12 text-center">
    <p><%= paginate @products %></p>
  </div>